<div class="container">
  <h2 class="heading">Task Administration</h2>
  <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)" class="form">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="userDetails.name" required>
      <div *ngIf="userForm.controls['name']?.touched && userForm.controls['name']?.invalid" class="text-danger">
  Name is required.
</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

